
.page-content-container {
background-color: white; border-radius: 3px; padding: 20px; padding-bottom: 40px;width: 960px; margin: 20px auto;
}

.page-content-container h1 {
	font-size: 1.8em !important;
	color: #333333;
}

.page-content-container p {
	margin: 10px 0px;
}
