{% extends "app/base.html" %}

{% block title %}About Us{% endblock %}

{% block aboutus-selected-class %}menu-selected{% endblock %}

{% block content %}
<div id="content">
	<div style="width:750px">
		<h2>About Us</h2>
		<p>
			TangleOn evolves from simple news aggregator to social networking and podcast client for windows, it supports popular micro blogging services Twitter and Google Buzz, download latest <a href="/app/">app</a> for your desktop.
			<br/>
			<br/>
			<strong>We are also covering news and reviews about gadgets, smartphones, apps and latest developments in the geek world.</strong>
			<br/>
			<br/>
			<q>Any intelligent fool can make things bigger, more complex, and more violent. It takes a touch of genius -- and a lot of courage -- to move in the opposite direction</q> &#45; Albert Einstein
			<br/>
			<br/>
			Talk to us! we like to hear from you: <a href="mailto:hi@tangleon.com">hi@tangleon.com</a>			
		</p>
		<br />
	</div>
</div>
{% endblock %} 