{% extends "app/public_base.html" %}

{% block title %}Forgot Password{% endblock %}
{% block content %}
<form method="post" class="action-form action-form-center" style="width:400px">
	{% csrf_token %}
	<ul>
		<li>
			<h2>Forgot Password</h2>			
		</li>		
		{% if reset_email_send %}
		<li class="message">
			You will receive an email shortly about resetting your password.
		</li>
		{% else %}
		<li>
			To reset your password, enter your email address.
		</li>
		{% if reset_email_error %}
		<li class="error_message">
			{{ reset_email_error|safe }}
		</li>
		{% endif %}
		<li>
			<label for="email">Your e-mail address:</label>
			<input name="email" type="text"/>
		</li>
		<li>
			<input type="submit" value="Send">
		</li>
		{% endif %}
	</ul>
</form>
{% endblock %} 
