{% extends "app/public_base.html" %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<form action="" method="post" class="action-form action-form-center" style="width: 400px">
	{% csrf_token %}
    <ul>
        <li>
            <h2>Password Reset</h2>	
        </li>
        {% if successful_reset %}
        <li class="message">
            You password is successfully reset, please click <a href="/login/">here</a> to login.
        </li>
        {% else %}
        Please enter new password for your account.       
        {% if error %}
        <li class="error_message">
            {{ error|safe }}
        </li>
        {% endif %}	
        <li>
            {{ form.password.errors }} <label for="id_password">Password:</label>
            {{ form.password }}
        </li>
        <li>
            {{ form.confirm_password.errors }} <label for="id_password">Confirm Password:</label>
            {{ form.confirm_password }}
        </li>
        <li>
            <input type="submit" value="Reset">
        </li>	
        {% endif %}
    </ul>
</form>
{% endblock %} 
